<div class = "container-fluid">
	<div class = "row">
		<div class = "col-md-8">
			<h4>Thank you for checking out my application!</h4>
			<p>I studied politics in Washington, DC, and worked in the industry for a few years in the late 1990s. My experience includes working as a staffer in the Office of Political Affairs at The White House during the Clinton Administration, working for a polling firm as an analyst during a busy election season, working in opposition research for a gubernatorial campaign, as well as managing state house and senate campaigns. During this time, I took an interest in how money affects political campaigns. Now that I am on the outside looking in and working in web development, I want to take open data and make it available and easily searchable for the general public, especially data as it pertains to our government and money in politics.</p>

			<h4>The technology</h4>
			<p>This application is a Ruby on Rails application that takes advantage of open data from a couple of different sources that will be enumerated below. Further, I tried to code the application using as little JavaScript and jQuery as possible. Currently, the only JavaScript in the application is used to create the drop-down effect for the "Searches" category in the navigation bar. There is no database tied to the backend, so user data is not stored. All the resultant data comes from the APIs. I appreciate your feedback, and encourage you to contact me.  Also, this is an open source project, so you can view all of the code and fork it at Github.</p>

			<h4>The data</h4>
			<p>The data that is returned from searches within this application is all available from The Sunlight Foundation's API, which you can find here.  The Sunlight Foundation is a nonpartisan nonprofit whose mission is to promote open government by providing tools and data to people in the United States.  They, in turn, get their data from a number of open sources, sometimes directly from government entities, which is detailed on their website. I am grateful for the work that The Sunlight Foundation is doing to promote open government in our country.</p>

		</div>
		<div class = "col-md-4">
		</div>
	</div>
</div>
