<div id="home_page">
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<p>This site is currently under development. I hope to bring you information about your elected officials, including their fundraising activities.  Until then, click the big blue button to search for your elected officials and check back often!</p>
		<br />

		<a href="/main/search" alt="Go To Search Page" ><button id="home_button" type="button" class="btn btn-primary btn-lg">Go To Search Page!</button></>
	</div>
</div>