// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#searchbox, #memberlist {
	margin: 20px;
}

#search_page, .jumbotron, #money_page {
	max-width: 700px;
	margin: 20px;
}

#home_page, {
	margin: 0 20%;
}

#home_button {
	display: block;
	margin: auto;
}

body { padding-top: 70px; }

.nav-tabs { 
	border-bottom: none; 
	margin-top: 10px;
}

// #home_button {
// 	display: inline-block;
// 	float: right;
// 	margin-right: 20%;
// }

// #button_div {
// 	width: 50%;
// 	float: left;
// }
